body {
    background-image: url('https://png.pngtree.com/background/20210711/original/pngtree-beautiful-technology-website-business-poster-background-template-picture-image_1107136.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* This ensures that the background covers the entire viewport */
    margin: 0; /* Remove default margin to prevent unwanted spacing */
  }