body {
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* This ensures that the background covers the entire viewport */
    margin: 0; /* Remove default margin to prevent unwanted spacing */
  }